@model Drug
@{
}
@* <form method="Post" action="~/Department/Edit"></form> *@
@* by default ->post with the same name of the current action in the url *@
@Html.Partial("_DataPolicy")

<form  method="post"  asp-action="Edit" asp-controller="drug">




 <label for="Name">Name</label>
    <input type="text" asp-for="Name" class="form-control" /> 


    <label for="ImagePath">Name</label>
    <input type="text" asp-for="ImagePath" class="form-control" />

    <label for="CompanyName">Name</label>
    <input type="text" asp-for="CompanyName" class="form-control" />


    <label for="ManufactureDate">Name</label>
    <input type="date" asp-for="ManufactureDate" class="form-control" />


    <label for="ExpirationDate">Name</label>
    <input type="date" asp-for="ExpirationDate" class="form-control" />



<input type="submit" class="btn btn-dark" value="Edit" />
</form>


@await Component.InvokeAsync("GetDrugCompaniesComponent")
<a href="~/Drug">Go back to Getall</a>


