@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Drug drug = ViewData["d"] as Drug;
}
<ul>
    <li>ID: @drug.ID</li>
    <li>Name: @drug.Name</li>
    <li>Detals: @drug.Details</li>
    <li>Imge: <img style="width:200px;hieght=200px" src="@drug.ImagePath" /></li>
</ul>
