<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<header>
    <h1>Please Enter your Data</h1>

</header>

<body>
    <div>
        @RenderBody()
    </div>
</body>

</html>
